/*
Colors used:
Primary Color (LightBackground): #f1f8ff;
Secondary Color (Black): #000000;
Other Color (Turquoise): #0097A7;
Other Color (Magenta): #BA50A4;
Other Color (Grey): #8BB0CB;
*/

* {
  box-sizing: border-box;
}

header {
  background-color: #0097A7;
  padding: 10px;
  border-bottom: 10px solid #ffffff;
}

.logo {
    max-height: 100px;
    float: left;
    margin: -40px;
}

nav > ul > li {
  display: inline-block;
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%
  color: #ffffff;
}

.sociallinks > ul > li {
  display: inline-block;
  padding: 0 10px;
}

.hero {
  background-color: #0097A7;
  padding: 20px 0;
  margin: 0px;
  text-align: center;
  color: #ffffff;
  width: 100%;
  display: inline-block;

}

body {
  background-color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 400; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

main {
  padding-top: 0px;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.5em;
  font-weight: 700;
}

h2 {
  font-size: 2em;
  font-weight: 600;
}

h3 {
  font-size: 1.7em;
  font-weight: 400;
}
h4 {
  font-size: 1.3em;
  font-weight: 400;
}

a {
  color: #0097A7;
  text-decoration: none; /* No underlining */
}

@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

a:visited { /* visited link */
  color: #f1f8ff;
}

a:active {
  color: #BA50A4;
  text-decoration: underline;
}

a:hover{
  color: #BA50A4;
  text-decoration: underline;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #BA50A4;
  color: #ffffff !important; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #85146d; /* width of the border, type, color */
  transition-duration: 0.2s;
  transtition-property: opacity;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active { /* selected link */
  color: #0097A7;
}

.button.contact {
  background-color: transparent;
  color: #0097A7 !important;
  text-transform: uppercase;
  border: 2px solid #0097A7;
}

.button.contact:hover {
  background-color: #0097A7;
  color: #ffffff !important;
}

/* Layout styling */

.container {
  padding: 0 15px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}



#work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }

#aboutme h1 {
  text-align: center;
  margin:0;
  padding: 0.67em 0;
}

#aboutme {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#PerfectProperties h1 {
  text-align: center;
  margin: 0;
  padding: 0;
}

#perfectproperties {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#contact {
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}


/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: left;
    padding: 20px 0 13px;
  }

  nav > ul > li {
    display: inline-block;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 700;
    width: 100%
    color: #ffffff;
  }

  .navtoggle.responsive nav {
    padding: 24px 0 0;
  }

  .navtoggle.responsive li  {
    display: block;
    padding: 10px 0;
  }

  .navtoggle li:(:last-child) {
    display: none;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
    padding: 0 0 10px;
  }


  .col-md-6 {
  width: 50%;
  }

  [class*="col-"] {
  float: left;
  }

  .row::after {
  content: "";
  clear: both;
  display: table;
  }

}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  nav {
    width: auto;
    text-align: right;
    float: right
    margin-top: 4px;
  }

  .navtoggle li:last-child {
    display: none;
  }

  body {
    font-size: 22px;
  }

  .col-lg-7 {
    width:60%;
  }

  .col-lg-5 {
    wifth:40%;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  body {
    font-size: 26px;
  }
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
